@font-face {
	font-family: 'ChunkFiveRoman';
	src: url('fonts.php?font=chunkfive-webfont.eot');
	src: url('fonts.php?font=chunkfive-webfont.eot?#iefix') format('eot'),
		url('fonts.php?font=chunkfive-webfont.woff') format('woff'),
		url('fonts.php?font=chunkfive-webfont.ttf') format('truetype'),
		url('fonts.php?font=chunkfive-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Junction';
	src: url('fonts.php?font=Junction-regular-webfont.eot');
	src: url('fonts.php?font=Junction-regular-webfont.eot?#iefix') format('eot'),
		url('fonts.php?font=Junction-regular-webfont.woff') format('woff'),
		url('fonts.php?font=Junction-regular-webfont.ttf') format('truetype'),
		url('fonts.php?font=Junction-regular-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: Junction, sans-serif;
	font-size:.8em;
	margin:0;
	padding:0;
	line-height:1.5em;
	letter-spacing:.05em;
	color:#444;
}

a {
	color:#000;
	text-decoration:none;
	border-bottom:1px solid #ffa200;
}

a:hover {
	color:#ffa200;
}

#header {
	position:relative;
	padding:40px 50px;
	background:url('../immagini/hbkg.png') bottom center repeat-x #dbdbdb;
	text-align:left;
	border-bottom:10px solid #444;
}

#header #maintitle {
	position:absolute;
	top:40px;
	left:140px;
	font:4em ChunkFiveRoman,Helvetica,Arial,sans-serif;
	color:#444;
}

#header #payoff {
	position:absolute;
	top:100px;
	left:140px;
	color:#888;
	font-size:1.2em;
	font-style:italic;
}

.clear_spacer {
	display: block;
	width: 100%;
	height: 0px;
	clear: both;
	line-height: 0px;
	font-size: 0px;
	margin: 0;
	padding: 0;
}

#title {
	color: #888888;
	font: 1.2em ChunkFiveRoman,Helvetica,Arial,sans-serif;
	text-align: center;
}

.menu {
	position:absolute;
	top:55px;
	right:50px;
	font:1.2em ChunkFiveRoman,Helvetica,Arial,sans-serif;
	color:#888;
}

.menu a {
	color:#444;
	font-weight:normal;
	padding:2px 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-decoration:none;
	border:0;
}

.menu img {
	display: inline;
}

.menu a:hover {
	background-color:#ffa200;
	color:#fff;
	font-weight:normal;
	text-decoration:none;
	border:0;
}

.menu .social {
	text-align: right;
}

.main-contents {
	font-size: 1.2em;
	line-height: 1.5;
	padding-left: 100px;
}

.highlight-box {
    border-radius: 20px;
    padding: 20px;
    display: inline-block;
    background-color: #ffc928;
    box-sizing: border-box;
    width: 100%;
    font-size: 1.3em;
}

.promoters {
	background-color: #F9F9F9;
	padding: 20px;
}

.promoters a {
	border-bottom: 0;
}

.banner {
	padding: 10px;
	box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
	margin: 10px
}

#ils_footer {
	background: none repeat scroll 0 0 #292929;
	color: rgba(255, 255, 255, 0.65);
	display: block;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 0.857em;
	line-height: 1.5;
	padding: 35px 5px 30px;
}

#ils_footer h2 {
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
	border-color: rgba(255, 255, 255, 0.15);
	font-size: 1em;
	margin: 1em 0 0.5em;
	padding-bottom: 3px;
	text-transform: uppercase;
}

#ils_footer img {
	display: inline-block;
}

#ils_footer a {
	color: #FFFFFF;
	border: 0;
}

.trap {
	display: none;
}

@media only screen and (max-width: 767px) {
	.hidden-sm {
		display: none;
	}

	#header {
		padding: 20px;
	}

	#header #maintitle {
		top: 30px;
		left: 100px;
	}

	#header #payoff {
		display: none;
	}

	.menu {
		position: static;
		margin-top: 16px;
	}

    .main-contents {
		padding-left: 15px;
    }

	#ils_footer .contents {
		width: auto;
	}

	#ils_footer .contents .block:nth-child(even) {
		width: 90%;
	}

	#ils_footer .contents .block:nth-child(odd) {
		display: none;
	}
}
